body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.welcome-box {
    background-color: #faf0fe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.small-button {
    padding: 5px 10px;
    font-size: 14px; 
    cursor: pointer;
}
button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.delete-button {
    background-color: #d62020;
    color: #ffffff;
    border: none;
    border-color: #cc0000;
    padding: 5px 10px;
    cursor: pointer; 
    border-radius: 12px;
}

.delete-button:hover {
    background-color: #cc0000; /
}

.content-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 50px;
}

.user-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-size: 16px;
}

h3 {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}
